<table class="dealsBoard">
    <thead class="board-header"></thead>
    <tbody class="board-body"></tbody>
</table>

<!-- <div id="pipelineStages" class="pipeline">
    <table class="dealsBoard">
        <tbody>
            <tr>
                <td height="44">
                    <div class="board-header stages"></div>
                </td>
            </tr>
            <tr>
                <td height="44">
                    <div class="board-body"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->