<a href="#">
    <img class="user-pic" src="{{ userPicUrl }}" />
    <a class="user-wrapper icon-dropdown">
        <div class="user-name">{{ name }}</div>
        <div class="user-organization-name">{{ organizationName }}</div>
    </a>
</a>

<!-- <a href="#" data-dropmenu="profile" data-noactive="true" class="icon-dropdown"><img src="https://d3myhnqlqw2314.cloudfront.net/profile_120x120_733958_b065ab9c9dc61fc219b6d8a0e5528fa1.jpg">
        <span class="name" data-test="name">Denis Savenok</span>
        <span class="company" data-test="company">Self-employed</span>
    </a> -->
