html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

html, body {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
}

body {
    background: #fff;
    background-color: #f3f5f6;
}

a{
  text-decoration: none;
}

.nav_wrapper{
  position: fixed;

  background-color: #343434;
  width: 100%;
  height: 47px;
}

.navigation {
    background-color: #343434;
    width: 80%;
    height: 47px;
    float: left;
}

.user-corner{
    background-color: #343434;
    width: 20%;
    height: 47px;
    float: left;
    font-color: #fff;
}

nav .logo_container {
  width: 122px;
  float: left;
}

nav .logo_container h1.logo a {
  height: 48px;
  text-indent: -9000px;
  overflow: hidden;
  display: block;
  color: #ffffff;
  background: transparent url("https://assets.pipedrive.com/images/logo_header.png") 12px 13px no-repeat;
  background-size: 100px 22px;
}

.user-profile-corner{
  float: right;
}

.user-profile-corner a {
  float: right;
  display: block;
  padding: 7px 34px 8px 12px;
  color: #ffffff;
  line-height: 16px;
  text-decoration: none;
}

img.user-pic{
  width: 32px;
  height: 32px;
  display: inline;
}

.user-profile-corner span.name {
  display: block;
  margin-left: 42px;
  white-space: nowrap;
}

.user-profile-corner span.company {
  display: block;
  margin-left: 42px;
  font-size: 11px;
  color: #c2c8cd;
}

.user-info{
/*  float: left;*/
  display: inline;
}

.user-name{
  
}

.user-organization-name{

}

.sidebar{
    margin:0px;
    float: left;
    width: 281px;
    height: 400px;
}

.main-area{
    margin:0px;
    float: left;
    width: 281px;
}

ul.listView{
    list-style:none none inside;
    margin:0px;
    padding:0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

ul.listView li{
    height: 32px;
    margin: 0;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.active{
    background-color: #3381c5;
}

.person-name{
    font-weight: bold;
    /*margin-top: 12px;*/
}
.person-organization-name{
/*    margin-top: 12px;*/
}

.person-name, .person-organization-name{
    padding-left: 12px;
}

.profile-details{
  margin-left: 21px;
}

.profile-details-name{
  font-weight: bold;
  font-size: 14px;
  zoom: 2;
}

.profile-details .details-wrapper-panel{
  display: block;
  /*width: 100%;*/
  width: 822px;
  height: 100%;
  margin-bottom: 14px;
  background-color: #ffffff;
  padding: 16px;
  border: 1px solid #e0e4e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

table.details-wrapper{
  /*width: 396px;*/
  width: 50%;
  float: left;
}
table.details-wrapper td.profile-item{
  font-weight: bold;
}

.person-deals-wrapper{
  width: 50%;
  float: left;
  border: 1px solid #e0e4e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}